
<%=render 'profilephoto'%>

<%= form_with model: profile, local: true do |form| %>
<div class="flex flex-col gap-4 items-center justify-center">
    <div class="flex gap-4">


    <div>
     <%=form.text_field:employee_name,class:"input input-neutral w-sm" ,placeholder:"Full Name"%>
    </div>
    <div>
     <%=form.text_field:phone_number,class:"input input-neutral w-sm" ,placeholder:"Phone Number"%>
    </div>
    </div>
     <div class="flex gap-4">
        <div>
        <%=form.text_field:department,class:"input input-neutral w-sm" ,placeholder:"Department"%>
        </div>
        <div>
        <%=form.text_field:job_title,class:"input input-neutral w-sm" ,placeholder:"Job Title"%>
        </div>
    </div>
    <div class="flex gap-4">
        <div>
        <%=form.text_field:father_name,class:"input input-neutral w-sm" ,placeholder:"Father Name"%>
        </div>
        <div>
        <%=form.text_field:mother_name,class:"input input-neutral w-sm" ,placeholder:"Mother Name"%>
        </div>
    </div>

    <div class="flex gap-4">
        <div>
        <%=form.text_field:city,class:"input input-neutral w-sm" ,placeholder:"City"%>
        </div>
        <div>
        <%=form.text_field:acount_number,class:"input input-neutral w-sm" ,placeholder:"Account Number"%>
        </div>
    </div>

    <div class="flex gap-4">
        <%=form.submit class:"btn btn-success w-sm"%>
    </div>
</div>


</div>
</div>
<%end%>