
    <%unless employee.profile.nil? %>
    <tr>
    <td class="table-cell-padding whitespace-nowrap text-md font-medium text-gray-900"><%=employee.email_address%></td>
    <td class="table-cell-padding whitespace-nowrap text-md font-medium text-gray-900"><%=employee.profile.employee_name%></td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500"><%=employee.profile.department%></td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500"><%=employee.profile.job_title%></td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500"><%=employee.profile.created_at.strftime("%d-%m-%y")%></td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Full time</td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Male</td>

    <td class="table-cell-padding whitespace-nowrap text-right text-md font-medium relative dropdown">
    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg flex items-center justify-center text-xs font-medium shadow-sm hover:bg-blue-700 transition-colors">
    Actions <i class="fas fa-caret-down ml-2"></i>
    </button>
    <div class="dropdown-content">
    <%= link_to "View Profile", "/employee/profile/#{employee.profile.id}",class:"block text-gray-700 bg-gray-100 px-4 py-2 text-md"%>
    <a href="#" class="block text-gray-700 bg-gray-100 px-4 py-2 text-md">Edit Profile</a>
    </div>
  </td>
  </tr>
  <%else%>
  <tr>
     <td class="text-red-500 table-cell-padding whitespace-nowrap text-md font-medium text-gray-900"><%=employee.email_address%></td>
    <td class="table-cell-padding whitespace-nowrap text-md font-medium text-gray-900">Profile Pending</td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Profile Pending</td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Profile Pending</td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Profile Pending</td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Profile Pending</td>
    <td class="table-cell-padding whitespace-nowrap text-md text-gray-500">Profile Pending</td>

    <td class="table-cell-padding whitespace-nowrap text-right text-md font-medium relative dropdown">
    <button class="bg-red-500 text-white px-4 py-2 rounded-lg flex items-center justify-center text-xs font-medium shadow-sm hover:bg-blue-700 transition-colors">
    Actions <i class="fas fa-caret-down ml-2"></i>
    </button>
    <div class="dropdown-content">

    <a href="#" class="block text-gray-700 bg-gray-100 px-4 py-2 text-md">Edit Profile</a>
    </div>
  </td>
  </tr>
  <%end%>

