  <tr>
        <th></th>
        <td><%=task.title%></td>
        <td><%=task.description%></td>
        <td><%=task.assigned_user.profile.employee_name%></td>
        <td><%=task.project.p_name%></td>
        <td><%=task.end_date%></td>
        <td><%=task.status%></td>
        <td><button class="btn bg-yellow-500 text-white">Send Message</button></td>
  </tr>
