
<%=render 'shared/usernav'%>
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <div>
             <img src="https://img.freepik.com/free-photo/business-people-blue-background_53876-103956.jpg?ga=GA1.1.1550118117.1750054669&semt=ais_hybrid&w=740"
            class="max-w-lg rounded-lg shadow-2xl" />
        </div>

            <div>
                <div class="space-x-5 flex flex-col gap-5">
                <h1 class="text-5xl font-bold">HR Management Platform</h1>
                <h6 class="text-2xl ">Register Your Account</h6>
                </div>


                <%=form_with(model: @user, local: true) do |form|%>
                <div class="flex flex-col gap-5 items-center">

                    <div class="w-[500px]">
                    <fieldset class="fieldset text-2xl">
                        <legend class="fieldset-legend">Email Address <%if @user.errors[:email_address].present? %><span class=" text-xl text-red-500">*enter valid email</span><%end%></legend>
                        <!-- <input type="text" class="input input-info" placeholder="Type here" /> -->
                        <%= form.text_field :email_address, class: "input input-info" ,placeholder: "Enter your email address" %>
                    </fieldset>
                    </div>

                    <div class="w-[500px]">
                    <fieldset class="fieldset text-2xl">
                        <legend class="fieldset-legend">Password<%if @user.errors[:password].present? %><span class=" text-xl text-red-500">*enter 8 min character password</span><%end%></legend>
                        <!-- <input type="text" class="input input-info" placeholder="Type here" /> -->
                        <%= form.text_field :password, class: "input input-info h-[40px]" ,placeholder: "Enter your password" %>
                    </fieldset>
                     </div>

                <div class="flex gap-5 w-[500px]">
                    <div> <%= form.submit "Create Account", class: "btn btn-success" %></div>
                  <div><%= link_to "Login","/session/new" , class: "btn btn-primary" %></div>
                </div>
                <div>

                </div>

            </div>
            <%end%>
        </div>
    </div>
</div>